In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Saved_Objects/bank_marketing/bank-additional-full.csv', sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [2]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [3]:
df['y'].describe()
#36548/41188 = 0.88...

count     41188
unique        2
top          no
freq      36548
Name: y, dtype: object

In [4]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [5]:
df.tail(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [6]:
objects = df.columns[df.dtypes == 'object']
objects

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [7]:
for obj in objects:
    df[obj] = pd.Categorical(df[obj]).codes
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
5,45,7,1,2,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
6,59,0,1,5,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
7,41,1,1,7,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
8,24,9,2,5,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
9,25,7,2,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
10,41,1,1,7,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
11,25,7,2,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
12,29,1,2,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
13,57,3,0,0,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
14,35,1,1,1,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
15,54,5,1,2,1,2,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
16,35,1,1,1,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
17,46,1,1,1,1,2,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
18,50,1,1,2,0,2,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
19,39,4,2,2,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
20,30,10,1,3,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
21,55,1,1,0,1,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
22,55,5,2,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
23,41,9,2,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
24,37,0,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
25,35,9,1,6,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
26,59,9,1,7,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
27,39,6,1,2,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
28,54,9,2,6,1,0,0,1,6,1,...,2,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
29,55,11,1,6,1,1,1,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,9,0,0,0,0,0,0,7,3,...,1,999,0,1,-1.1,94.767,-50.8,1.035,4963.6,1
41159,35,9,0,0,0,2,0,0,7,3,...,1,9,4,2,-1.1,94.767,-50.8,1.035,4963.6,1
41160,33,0,1,6,0,0,0,0,7,3,...,1,999,0,1,-1.1,94.767,-50.8,1.035,4963.6,1
41161,33,0,1,6,0,2,0,0,7,3,...,1,999,1,0,-1.1,94.767,-50.8,1.035,4963.6,0
41162,60,1,1,0,0,2,0,0,7,3,...,2,4,1,2,-1.1,94.767,-50.8,1.035,4963.6,0
41163,35,9,0,0,0,2,0,0,7,3,...,3,4,2,2,-1.1,94.767,-50.8,1.035,4963.6,1
41164,54,0,1,5,0,0,0,0,7,3,...,2,10,1,2,-1.1,94.767,-50.8,1.035,4963.6,1
41165,38,3,0,6,0,0,0,0,7,4,...,2,999,0,1,-1.1,94.767,-50.8,1.030,4963.6,1
41166,32,0,1,6,0,0,0,1,7,4,...,1,999,1,0,-1.1,94.767,-50.8,1.030,4963.6,1
41167,32,0,1,6,0,2,0,0,7,4,...,3,999,0,1,-1.1,94.767,-50.8,1.030,4963.6,0
41168,38,2,1,6,0,0,0,0,7,4,...,2,999,0,1,-1.1,94.767,-50.8,1.030,4963.6,0
41169,62,7,1,3,0,2,0,0,7,4,...,5,999,0,1,-1.1,94.767,-50.8,1.030,4963.6,0
41170,40,4,0,6,0,2,0,0,7,4,...,2,999,4,0,-1.1,94.767,-50.8,1.030,4963.6,0
41171,33,8,1,5,0,2,0,1,7,2,...,1,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,1
41172,31,0,2,6,0,2,0,0,7,2,...,1,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,1
41173,62,5,1,6,0,2,0,0,7,2,...,1,999,2,0,-1.1,94.767,-50.8,1.031,4963.6,1
41174,62,5,1,6,0,2,0,0,7,2,...,1,1,6,2,-1.1,94.767,-50.8,1.031,4963.6,1
41175,34,8,2,7,0,2,0,0,7,2,...,1,999,2,0,-1.1,94.767,-50.8,1.031,4963.6,0
41176,38,3,0,3,0,2,2,0,7,2,...,1,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,0
41177,57,5,1,5,0,2,0,0,7,2,...,6,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,0
41178,62,5,1,6,0,0,0,0,7,2,...,2,6,3,2,-1.1,94.767,-50.8,1.031,4963.6,1
41179,64,5,0,5,0,2,0,0,7,0,...,3,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41180,36,0,1,6,0,0,0,0,7,0,...,2,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41181,37,0,1,6,0,2,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41182,29,10,2,0,0,2,0,0,7,0,...,1,9,1,2,-1.1,94.767,-50.8,1.028,4963.6,0
41183,73,5,1,5,0,2,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,1,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,5,1,6,0,2,0,0,7,0,...,2,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,9,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,5,1,5,0,2,0,0,7,0,...,3,999,1,0,-1.1,94.767,-50.8,1.028,4963.6,0

In [8]:
df.dtypes

age                 int64
job                  int8
marital              int8
education            int8
default              int8
housing              int8
loan                 int8
contact              int8
month                int8
day_of_week          int8
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome             int8
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                    int8
dtype: object

In [9]:
from sklearn.model_selection import train_test_split
X = df.loc[:, :'nr.employed']
y = df['y']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2)

In [14]:
y_test.sum()

936

In [10]:
training_data_inputs = []
training_data_results = []
for i in X_train.index:
    training_data_inputs.append(np.reshape(X_train.loc[i].values, (20,1)))
    training_data_results.append(y_train.loc[i])
print(len(training_data_inputs))
train_data = zip(training_data_inputs, training_data_results)

32950

In [11]:
test_data_inputs = []
test_data_results = []
for i in X_test.index:
    test_data_inputs.append(np.reshape(X_test.loc[i].values, (20,1)))
    test_data_results.append(y_test.loc[i])
print(len(test_data_inputs))
test_data = zip(test_data_inputs, test_data_results)

8238

In [12]:
import pickle
pickle.dump(test_data, open("Saved_Objects/bank_marketing/test.p", "wb"))
pickle.dump(train_data, open("Saved_Objects/bank_marketing/train.p", "wb"))